<div class="tab">
  <ul class="cards">
    {% for category in site.categories %}
      {% capture cat %}{{ category | first }}{% endcapture %}
      <li class="card">
        <a class="card__link" href="{{ site.baseurl }}/categories/{{ cat | slugify }}/">
          <div class="card__img">
            {% for post in site.categories[cat] limit:1 %}
              <figure class="absolute-bg" style="background-image: url('{{ post.image }}');"></figure>
            {% endfor %}
          </div>
          <div class="card__container">
            <h2 class="card__header">{{ cat }}</h2>
            <p class="card__count">{{ site.categories[cat] | size }} Posts</p>
            <span class="card__more">View All</span>
          </div>
        </a>
      </li>
    {% endfor %}
  </ul>
  
  {% include archive-link.html %}
</div>
